body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 1rem;
	color: gray;
}
h3 {
	font-size: 1.2rem;
    color: #942c61;
}
.contentBox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1200px;
}
.main {
   display: inline-flex;
   position: relative;
   width: 100%;
   height: 550px;
   max-width: 380px;
   margin: auto;
   margin-bottom: 200px;
   }
.words {
	position: absolute;
}
#p1text1 {
	top: 1%;
	margin: 1%;
	}
#page1 img {
	position: absolute;
	width: 100%;
	top: 25%;
}
.button {
	position: absolute;
	width: 10%;
}
.button:hover {
	width: 11%;
}
#p1b1 {
	top: 27%;
	left: 8%;
}
#p1b2 {
    top: 68%;
	left: 8%;	
}
#p1b3 {
    top: 78%;
	left: 8%;	
}
#p1b4 {
	top: 88%;
	left: 8%;
}

#p1text2 {
	top: 28.5%;
	left: 21%;
}
#p1text3 {
	top: 69.5%;
	left: 21%;
}
#p1text4 {
	top: 79.5%;
	left: 21%;
}
#p1text5 {
	top: 89.5%;
	left: 21%;
}
#return {
	top: 90%;
	left: 8%;
	}
#next {
	top: 90%;
	left: 82%;
}
#p2text1 {
	top: 1%;
	left: 1%;
}
#p2b1 {
	top: 20%;
	left: 8%;
}
#return {
	top: 90%;
	left: 9.5%;
}
#back {
	top: 92%;
	left: 21%;
}
#next {
	top: 90%;
	left: 88%;
}
#forward {
	top: 92%;
	left: 75%;
}
#p3b2 {
	top: 30%;
	left: 11%;
}
#p3text2{
	top: 30%;
	left: 23%;
}
#p4b3 {
	top: 45%;
	left: 11%;
}
#p4text3 {
	top: 30%;
	left: 23%;
}
#p5b4 {
	top: 60%;
	left: 11%;
}
#p5text4 {
	top: 45%;
	left: 23%;
}
#p6text5 {
	top: 60%;
	left: 23%;
}
#p7text1 {
	top: 1%;
	left: 1%;
}
#page7 img {
	position: absolute;
	width: 100%;
	top: 15%;
}
#p7text2 {
	top: 20%;
	left: 60%;
}
#p8text1 {
	top: 1%;
	left: 2%;
}
#p8text2 {
	top: 10%;
	left: 2%;
}
#p8text3 {
	top: 35%;
	left: 50%;
}
#p9text3 {
	top: 50%;
	left: 30%;
}
.virus {
	position: absolute;
	width: 40%;
	height: auto;
	top: 30%;
	left: 3%;
}
#virus2 {
	width: 95%;
}
#virus3 {
	width: 40%;
	top: 35%;
}
#p10text3 {
	top: 25%;
	left: 20%;
	color: #942c61; 
}
#virus4 {
	width: 95%;
	top: 30%;
}
#p11text3 {
	top: 22%;
	left: 15%;
}
#p11text4 {
	top: 45%;
	left: 45%;
}
#p11text5 {
	top: 72%;
	left: 15%;
	color: #942c61; 
}
#p12text1 {
	top: 1%;
	left: 5%;
	z-index: 5;
}
.map {
	position: absolute;
	width: 95%;
	top: 10%;
	left: 4%;
}
#map2 {
	width: 98%;
	left: 1%;
	top: 15%;
}

#p12text2 {
	top: 25%;
	left: 10%;
}
#p12text3 {
	top: 65%;
	left: 10%;
	margin-right: 50%;
}
#p13text1 {
	top: 1%;
	left: 5%;
	z-index: 5;
}
#p13text2 {
	top: 70%;
	left: 5%;
	z-index: 5;
}
#page11 {
	display: none;
}
@media only screen and (min-width: 500px){
	.main {
		margin: none;
		width: 47%;
		max-width: 300px;
	}
	#page3, #page4, #page5 {
		display: none;
	}
	#p1text2, #p1text3, #p1b1, #p1b2, svg{
		display: none;
	}
	#p2text1 h3{
		font-size: 1rem;
		top: 18%;
		color: gray;
	}
	#p4text3 {
		top: 15%;
		left: 2%;
	}
	#p4b3, #p3b2, #p5b4, #return, #back {
		display: none;
	}
	#p5text4 {
		top: 30%;
		left: 2%;
	}
	#p6text5 {
		top: 40%;
		left: 2%;
	}
}
@media only screen and (min-width: 800px){
	.main {
		margin: none;
		width: 30%;
	}
}